{require_otp_vsn, "^(1[9]|[2-9]\d)"}.

{erl_opts,
    [debug_info,
     warnings_as_errors,
     {i, "_build/rocksdb/"}]}.

{eunit_opts, [verbose]}.

{plugins, [pc]}.

{artifacts, ["priv/rocksdb_nif.so", "priv/rocksdb_utils.so"]}.

{pre_hooks, [
	{"(linux|darwin|solaris)", compile, "./build.sh"},
	{"(linux|darwin|solaris)", eunit, "./ld_library_path.sh"}
    ]
}.

{provider_hooks,
 [
  {pre,
   [
    {erlc_compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs, [{"priv/rocksdb_nif.so", ["c_src/rocksdb_lib.cpp","c_src/rocksdb_nif.cpp", "c_src/term_index_merger.cpp", "c_src/index_merger.cpp"]},
	      {"priv/rocksdb_utils.so", ["c_src/rocksdb_utils.cpp"]}]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Wall -g -O3 -fPIC"},
    {"CXXFLAGS", "$CXXFLAGS -Wall -g -O3 -fPIC -std=c++11"},
    {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I./c_src -I./c_src/rocksdb -I./c_src/rocksdb/include -DROCKSDB_PLATFORM_POSIX"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -Lc_src/rocksdb -lrocksdb -lpthread -lstdc++"}
    ]}.
